@inherits LayoutComponentBase

<PageTitle>Name_Gender_API</PageTitle>

<div class="page">
    <main>
        <div class="container align-content-center">
            @Body
        </div>
    </main>
</div>